<a href="https://colab.research.google.com/github/zainali60/Assignment-Numpy1/blob/main/Copy_of_card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
card=pd.read_csv("/content/gdrive/MyDrive/creditcard.csv")
card.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [4]:
card.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [5]:
card.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [6]:
card.sample()

          Time       V1        V2        V3  ...      V27       V28  Amount  Class
22283  32147.0  0.44192 -1.524804  1.695613  ...  0.07501  0.074952   292.1      0

[1 rows x 31 columns]

In [7]:
card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
card.isnull()

         Time     V1     V2     V3     V4  ...    V26    V27    V28  Amount  Class
0       False  False  False  False  False  ...  False  False  False   False  False
1       False  False  False  False  False  ...  False  False  False   False  False
2       False  False  False  False  False  ...  False  False  False   False  False
3       False  False  False  False  False  ...  False  False  False   False  False
4       False  False  False  False  False  ...  False  False  False   False  False
...       ...    ...    ...    ...    ...  ...    ...    ...    ...     ...    ...
284802  False  False  False  False  False  ...  False  False  False   False  False
284803  False  False  False  False  False  ...  False  False  False   False  False
284804  False  False  False  False  False  ...  False  False  False   False  False
284805  False  False  False  False  False  ...  False  False  False   False  False
284806  False  False  False  False  False  ...  False  False  False   False  False

[284807 rows x 31 columns]

In [9]:
card.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.919560e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [10]:
#column_mean=card.mean(axis=1)
#column_mean

In [11]:
#card=card.fillna(method="ffill", axis=0)
card=card.fillna(method="ffill", axis=1)

In [12]:
card.isnull().any()

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17       False
V18       False
V19       False
V20       False
V21       False
V22       False
V23       False
V24       False
V25       False
V26       False
V27       False
V28       False
Amount    False
Class     False
dtype: bool

In [13]:
card.shape

(284807, 31)

In [14]:
284807 - 492

284315

In [15]:
#import sklearn
#from sklearn.preprocessing import StandardScaler
# Standardize
#cards = StandardScaler().fit_transform(card.iloc[:,0:30].values.reshape(-1, 1))
#card['Time'] = StandardScaler().fit_transform(card['Time'].values.reshape(-1, 1))

In [16]:
card

            Time         V1         V2  ...       V28  Amount  Class
0            0.0  -1.359807  -0.072781  ... -0.021053  149.62    0.0
1            0.0   1.191857   0.266151  ...  0.014724    2.69    0.0
2            1.0  -1.358354  -1.340163  ... -0.059752  378.66    0.0
3            1.0  -0.966272  -0.185226  ...  0.061458  123.50    0.0
4            2.0  -1.158233   0.877737  ...  0.215153   69.99    0.0
...          ...        ...        ...  ...       ...     ...    ...
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77    0.0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79    0.0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88    0.0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00    0.0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00    0.0

[284807 rows x 31 columns]

In [17]:
print(type(card))
print(card.ndim)

<class 'pandas.core.frame.DataFrame'>
2

In [18]:
card.shape

(284807, 31)

In [19]:
#card['Class']=card['Class'].apply(lambda x:("fraud") if x>0 else ("non_fraud"))
non_fraud=card[card["Class"]==0]
fraud = card[card["Class"]==1]
non_fraud=non_fraud.sample(3*fraud.shape[0])
card = fraud.append(non_fraud, ignore_index=True)
card["Class"].value_counts()
x= card.drop(columns="Class", axis=0)
label = card["Class"]

In [20]:
fraud.shape

(492, 31)

In [21]:
print(non_fraud.shape)
card['Class'].shape

(1476, 31)

(1968,)

In [22]:
import sklearn
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,label,test_size=.30,random_state=0)

In [23]:
X_train.shape

(1377, 30)

In [24]:
X_test.shape

(591, 30)

In [25]:
print(y_test.shape)
print(y_train.shape)

(591,)
(1377,)

In [26]:
X_train= np.asarray(X_train).astype('float32')
X_test= np.asarray(X_test).astype('float32')

In [27]:
X_test.dtype

dtype('float32')

In [28]:
y_train= np.asarray(y_train).astype('float32')
y_test= np.asarray(y_test).astype('float32')

In [29]:
y_test.dtype

dtype('float32')

In [30]:
mean = X_train.mean(axis=0)
X_train -= mean
std = X_train.std(axis=0)
X_train /= std
X_test -= mean
X_test /= std

In [31]:
mean = y_train.mean(axis=0)
y_train -= mean
std = y_train.std(axis=0)
y_train /= std
y_test -= mean
y_test /= std

In [32]:
y_test.shape

(591,)

In [33]:
X_train.ndim

2

In [34]:
print(X_train.shape)
print(y_train.shape)

(1377, 30)
(1377,)

In [35]:
import tensorflow as tf
from keras import models
from keras import layers
def build_model():
  model = models.Sequential()
  model.add(layers.Dense(10, activation='relu',input_shape=([0,])))
  model.add(layers.Dense(8, activation='relu'))
  model.add(layers.Dense(6, activation='sigmoid'))
  model.compile(loss= 'binary_crossentropy', optimizer= 'rmsprop', metrics=['accuracy'])
  return model

In [36]:
model.summary()

NameError: ignored

In [ ]:
#model.fit(X_train, y_train, epochs=100, batch_size=1, verbose=1)

In [37]:


import numpy as np
k =  4
num_val_samples = len(X_train) // k
num_epochs = 100
all_scores = []
for i in range(k):
  print('processing fold #', i)
  val_data = X_train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = y_train[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([X_train[:i * num_val_samples],X_train[(i + 1) * num_val_samples:]],  axis=0)
  partial_train_targets = np.concatenate([y_train[:i * num_val_samples],y_train[(i + 1) * num_val_samples:]],axis=0)
  model = build_model()
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=1)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores.append(val_mae)

processing fold # 0
Epoch 1/100

ValueError: ignored

In [ ]:
card['Class'].shape

In [ ]:
x_data= card.drop(columns="Class", axis=0)
label = card["Class"]

In [ ]:
label.value_counts()

In [ ]:
x_data.shape

In [ ]:
label.shape

In [ ]:
non_fraud=df[df["Class"]==0]
fraud = df[df["Class"]==1]
non_fraud=non_fraud.sample(3*fraud.shape[0])
data = fraud.append(non_fraud, ignore_index=True)
# data["Class"].value_counts()
x_data= data.drop(columns="Class", axis=0)
label = data["Class"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,label,test_size=.30,random_state=0)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
y_train.shape

In [ ]:
y_test.shape

In [ ]:
label.shape

In [ ]:
from sklearn.preprocessing import OneHotEncoder
y_train = OneHotEncoder().fit_transform(y_train).toarray()

In [ ]:
y_train.astype('int')

In [ ]:
from keras.utils import to_categorical
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [ ]:
mean = X_train.mean(axis=0)
X_train -= mean
std = X_train.std(axis=0)
X_train /= std
X_test -= mean
X_test /= std

In [ ]:
from keras import models
from keras import layers
model = models.Sequential()
model.add(layers.Dense(10, activation='relu',input_shape=(199364,)))
model.add(layers.Dense(8, activation='relu'))
model.add(layers.Dense(6, activation='sigmoid'))

In [ ]:
model.compile(loss= 'binary_crossentropy', optimizer= 'rmsprop', metrics=['accuracy'])

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
model.fit(X_train, y_train, epochs=100)