# Assignment No 1 Nupmy

1.Import the numpy package under the name np

In [1]:
import numpy as np

1.Create a null vector of size 10

In [2]:
vector = np.zeros(10)
vector

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

1.Create a vector with values ranging from 10 to 49

In [3]:
vector2 = np.arange(10, 49)
vector2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48])

1.Find the shape of previous array in question 3

In [4]:
vector2.shape

(39,)

1.Print the type of the previous array in question 3

In [5]:
vector2.dtype

dtype('int32')

1.Print the numpy version and the configuration

In [7]:
print(np.__version__, np.show_config())

blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Zain Ali/anaconda3\\Library\\include']
1.19.2 None

1.Print the dimension of the array in question 3

In [8]:
vector2.ndim

1

1.Create a boolean array with all the True values

In [9]:
arr = np.array(range(1, 10), dtype="bool")
arr

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

1.Create a two dimensional array

In [10]:
arr1 = np.zeros((2, 2))
arr1

array([[0., 0.],
       [0., 0.]])

1.Create a three dimensional array

In [11]:
arr2 = np.zeros((3, 3, 3))
arr2

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

Difficulty Level Easy

1.Reverse a vector (first element becomes last

In [12]:
reverse_vector = np.array(range(1, 10))
print("Original: ", reverse_vector)

reverse_vector[0], reverse_vector[len(reverse_vector) - 1] = reverse_vector[len(reverse_vector) - 1], reverse_vector[0]

print("Modified: ", reverse_vector)

Original:  [1 2 3 4 5 6 7 8 9]
Modified:  [9 2 3 4 5 6 7 8 1]

1.Create a null vector of size 10 but the fifth value which is 1

In [13]:
null_vector  = np.zeros(10)
null_vector[5] = 1
null_vector

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

1.Create a 3x3 identity matrix

In [14]:
matrix = np.identity(3)
matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

1.arr = np.array([1, 2, 3, 4, 5])
Convert the data type of the given array from int to float

In [15]:
arr3  = np.array([1, 2, 3, 4, 5])
arr3 = arr.astype(np.float32)
arr3

array([1., 1., 1., 1., 1., 1., 1., 1., 1.], dtype=float32)

1.arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  

arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])
Multiply arr1 with arr2

In [16]:
arr4 = np.array([[1., 2., 3.] ,[4., 5., 6.]])  
arr5 = np.array([[0., 4., 1.] ,[7., 2., 12.]])
np.multiply(arr4, arr5)

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

1.arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 

arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])
Make an array by comparing both the arrays provided above

In [17]:
arr4 = np.array([[1., 2., 3.], [4., 5., 6.]])
arr5 = np.array([[0., 4., 1.], [7., 2., 12.]])


print("a > b") 
print(np.greater(arr4, arr5))

a > b
[[ True False  True]
 [False  True False]]

1.Extract all odd numbers from arr with values(0-9)

In [18]:
arr = np.arange(9)
filtered_array = filter(lambda val: val % 2 == 0, arr)
list(filtered_array)

[0, 2, 4, 6, 8]

1.Replace all odd numbers to -1 from previous array

In [19]:
arr[arr % 2 == 0] = -1
arr

array([-1,  1, -1,  3, -1,  5, -1,  7, -1])

1.arr = np.arange(10)
Replace the values of indexes 5,6,7 and 8 to 12

In [20]:
arr = np.arange(10)
arr[5] = arr[6] = arr[7] = arr[8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

1.Create a 2d array with 1 on the border and 0 inside

In [21]:
arr = np.ones((6, 6))
arr[1:-1, 1:-1] = 0
arr

array([[1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1.]])

1.Difficulty Level Medium

arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
Replace the value 5 to 12

In [22]:
arr2d = np.array([[1, 2, 3],[4, 5, 6], [7, 8, 9]])
arr2d[1, 1] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

1.arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])


Convert all the values of 1st array to 64

In [23]:
arr3dim = np.array([ [ [1, 2, 3], [4, 5, 6] ], [ [7, 8, 9], [10, 11, 12] ] ])
arr3dim[0][:] = 64
arr3dim[1][:] = 64
arr3dim

array([[[64, 64, 64],
        [64, 64, 64]],

       [[64, 64, 64],
        [64, 64, 64]]])

1.Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [24]:
arr = np.arange(9).reshape(3, 3)
arr2 = arr[0]
arr2

array([0, 1, 2])

1.Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [25]:
arr = np.arange(9).reshape(3, 3)
val = arr[1][1]
val

4

1.Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [26]:
arr = np.arange(9).reshape(3, 3)
arr3 = arr[0:-1, -1]
arr3

array([2, 5])

# 27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])Â¶

Find the common items between a and b

In [27]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a, b)

array([2, 4])

a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])



Find the positions where elements of a and b match

In [28]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

1.names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

Find all the values from array data where the values from array names are not equal to Will

In [29]:
import random
name = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
data = np.random.randint(7, size=random.randrange(1, 10))
print(data)
print(np.where(name[data] != "Will"))

[5 2 3 1 5 3 0 4 2]
(array([0, 2, 3, 4, 5, 6], dtype=int64),)

1.names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)


Find all the values from array data where the values from array names are not equal to Will and Joe

In [30]:
import random
name = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
data = np.random.randint(7, size=random.randrange(1, 10))
print(data)
print(np.where((name[data] != "Joe") & (name[data] != "Will")))

[6 2 3 0 2 3 2]
(array([2, 3, 5], dtype=int64),)

1.Difficulty Level Hard

Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [31]:
arr = np.random.uniform(low=1.0, high=15.0, size=(5,3))
arr

array([[ 7.84337339,  6.17577534,  2.73650962],
       [ 4.18671852, 11.60103001,  5.52644163],
       [ 6.93916203,  5.37311532, 12.46870747],
       [13.82093183, 14.7571686 ,  1.88866522],
       [ 4.71174504,  5.74893825, 13.05880952]])

1.Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [32]:
arr_new = np.random.uniform(low=1.0, high=16.0, size=(2,2,4))

1.Swap axes of the array you created in Question 32

In [33]:
np.swapaxes(arr_new, 0, 1)
arr_new

array([[[15.87429805, 14.24562921, 13.50393396,  7.53119616],
        [ 4.40161485,  7.81629727, 15.71696577,  2.24109228]],

       [[12.10315896,  4.75615368, 15.52781144,  5.46184805],
        [10.24870576,  6.34757644,  1.21616238, 13.00448769]]])

1.Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [34]:
import math
arr = np.arange(10)
print(arr)
new_arr = filter(lambda x: x if math.sqrt(x) > 0.5 else 0, arr)
np.asarray(list(new_arr))

[0 1 2 3 4 5 6 7 8 9]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

1.Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [35]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

1.a = np.array([1,2,3,4,5]) b = np.array([5,6,7,8,9])


From array a remove all items present in array b

In [36]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
val = np.intersect1d(a, b)
a = filter(lambda x: x if x not in val else None, a)
np.asarray(list(a))

array([1, 2, 3, 4])

1.Following is the input NumPy array delete column two and insert following new column in its place.
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])

newColumn = numpy.array([[10,10,10]])

In [37]:
arr6 = np.array([[34,43,73],[82,22,12],[53,94,66]]) 
arr6[:, 1] = 10
arr6

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

1.x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


Find the dot product of the above two matrix

In [38]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

1.Generate a matrix of 20 random values and find its cumulative sum